<nav
    class="navbar navbar-expand-lg navbar-dark shadow-lg"
    style="
    background: linear-gradient(to right, rgba(90, 0, 0, 0.8), rgba(140, 0, 0, 0.9), rgba(90, 0, 0, 0.8));
    backdrop-filter: blur(5px);"
>
    <div class="container">
        <a class="navbar-brand fw-bold text-warning" href="#">JFabrizzio5</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-warning fw-bold" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning fw-bold" href="#"
                        >Servicios</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning fw-bold" href="#"
                        >Contacto</a
                    >
                </li>
            </ul>
            <a href="#" class="btn btn-warning text-danger fw-bold ms-3"
                >🔥 Acción</a
            >
        </div>
    </div>
</nav>
