<div class="col-lg-6 col-md-9 d-flex aligh-items-stretch">
    <div class="card p-2 me-1">
        <div class="card-body p-4">
            <div class="text-center">
                <h3 class="text-dark font-weight-medium">Free Version</h3>
            </div>
            <div class="live-box text-center mt-4">
                <img
                    class="img-fluid"
                    src="https://adminmart.com/wp-content/uploads/2023/01/modernize-free-react-admin-dashboard-am-min.png"
                    alt="Free version"
                />
            </div>
            <div class="text-center mt-4">
                <a
                    class="btn btn-outline-secondary btn-custom mb-2 mb-md-0"
                    href="https://modernize-react-free.netlify.app/dashboard"
                    target="_blank">Live Preview</a
                >
                <a
                    href="https://adminmart.com/product/modernize-free-react-mui-dashboard/"
                    class="btn btn-secondary btn-custom ms-2"
                    target="_blank">Free Download</a
                >
            </div>
            <div class="row text-muted mt-4">
                <div class="col-md-6">
                    <ul class="list-unstyled listing">
                        <li class="py-2 d-flex align-items-center">
                            <span class="icon-circle circle-muted me-2"></span>
                            1 Basic Dashboard
                        </li>
                        <li class="py-2 d-flex align-items-center">
                            <span class="icon-circle circle-muted me-2"
                            ></span>7+ Pages Template
                        </li>
                        <li class="py-2 d-flex align-items-center">
                            <span class="icon-circle circle-muted me-2"
                            ></span>5+ UI Components
                        </li>
                        <li class="py-2 d-flex align-items-center">
                            <span class="icon-circle circle-muted me-2"
                            ></span>React Material Ui
                        </li>
                        <li class="py-2 d-flex align-items-center">
                            <span class="icon-circle circle-muted me-2"
                            ></span>Tabler Icons
                        </li>
                        <li class="py-2 d-flex align-items-center">
                            <span class="icon-circle circle-muted me-2"
                            ></span>React 18+
                        </li>
                        <li class="text-dark py-2">
                            <span class="icon-circle me-2"></span>No Support
                            Provided
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-unstyled listing">
                        <li class="py-2 d-flex align-items-center">
                            <span class="icon-circle circle-muted me-2"
                            ></span>Code splitting
                        </li>
                        <li class="py-2 d-flex align-items-center">
                            <span class="icon-circle circle-muted me-2"
                            ></span>Organized Code Structure
                        </li>
                        <li class="py-2 d-flex align-items-center">
                            <span class="icon-circle circle-muted me-2"
                            ></span>SCSS Base CSS
                        </li>
                        <li class="py-2 d-flex align-items-center">
                            <span class="icon-circle circle-muted me-2"
                            ></span>Easy To Customize
                        </li>
                        <li class="py-2 d-flex align-items-center">
                            <span class="icon-circle circle-muted me-2"
                            ></span>Fully Responsive Pages
                        </li>
                        <li class="text-dark py-2">
                            <span class="icon-circle me-2"></span>No
                            Documentation
                        </li>
                        <li class="text-dark py-2">
                            <span class="icon-circle me-2"></span>Backlink
                            Required
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
